.hr {
    width: 100%;
    margin: 20px auto;
    height: 1px;
    background: #CCC;
}
#wrapper
{
    width: 530px;
    margin: 0 auto;
}

#wrapper .resetfloat:after {
    content: '';
    display: block;
    clear: both;
}

#wrapper .title {

    border-bottom: 1px solid #ccc;
    position: relative;
    height: 25px;
    min-width: 518px;
    margin-bottom: 15px;
}

#wrapper .title h3 {
    color: #808080;
    font-weight: 300;
    height: 25px;
    border-bottom: 1px solid #ff9d0f;
    position: absolute;
    margin: 0px;
    bottom: -1px;
}


#wrapper .title ul {
    list-style-type: none;
}

#wrapper .title a {
    color: #ff9d0f;
    display: block;
    height: 25px;
    text-decoration: none;
    outline: none;
    padding: 0px 12px;
    margin-bottom: 0px;
    position: relative;
}
#wrapper .title a:hover,.title a:visited{
    text-decoration: none;
    color: #ff9d0f;
}
#wrapper .title ul li {
    height: 25px;
    float: right;
    margin-bottom: 0;
}

#wrapper .change:before {
    z-index: 2;
    content: "";
    width: 15px;
    height: 15px;
    border-top: 1px solid #CCC;
    position: absolute;
    bottom: -14px;
    left: 41%;
    background-color: #FFF;

/ / border : 2 px solid red;
}


#wrapper .title a:after, #active:after, ._active:after {

    position: absolute;
    left: 41%;
    width: 8px;
    height: 8px;
    margin: 0;
    content: "";
    display: block;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC transparent transparent #CCC;
    transform: rotate(225deg);
    bottom: -3.5px;

}

#wrapper .change {
    position: relative;
    color: #ccc !important;
}



#wrapper .title a:hover:after, .title #active:after {
    display: block;
}


#wrapper .article-preview {
    color: #ffffff;
}

#wrapper .text-section{
    margin-top: -20px;
    width: 110%;
    text-align:Justify;
    text-justify:inter-ideograph；
}

#wrapper .text-section h3 {
    color: #808080;
    font-size: 24px;
    font-weight: 300;
    margin: 15px 0 0 0;
}

#wrapper .text-section h3 a{
    text-decoration: none;
    color: #808080;
}

#wrapper .text-section h3 a:hover{
    text-decoration: none;
    color: #ff9d0f;
}
#wrapper .text-section p {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    overflow: hidden;
    color: #808080;
    margin: 0;

}
#wrapper .content-bottom{
    width: 115%;
}

#wrapper .img-section
{
    margin-left: -15px;
}

#wrapper .img-section img {
    width: 108%;
    height: auto;
}


#wrapper .icon{
    width:120%;
    height:40px;
    background:#fff;
    border:1px solid #fff;
    border-radius:3px;
}
#wrapper .icon ul{
    padding: 0;
}
#wrapper .icon ul li{
    float:left;
    text-align:center;
    list-style: none;
    display: inline-block;
}

#wrapper .icon ul li a{
    font-size: 14px;
    padding:0 8px 0 22px;
    color: #A3A3A3;
    font-weight: 200;
    text-decoration: none;
}
#wrapper .icon ul li a:hover{
    color:#FF9E0E;
}