ul li{
    list-style-type: none;
}
#display_news{
    position:relative;
    width:530px;
    height:270px;
}


#display-window{
    overflow:hidden;
    width:463px;
    height:270px;
}
.display-elem img {
    width:463px;
    height:270px;
}
#display-1, #display-2, #display-3, #display-4{
    position:relative;
}
.display-intro{
    position:absolute;
    width:97.5%;
    height:70px;
    bottom:3.75%;
    left:1.5%;
    background:#fff;
    border:1px solid #fff;
    border-radius:3px;
}
.display-intro ul{
    margin:0 -25px;
}
.display-intro ul li{
    float:left;
    text-align:center;
    width:85px;
}
.display-intro h2{
    font-size:20px;
    font-weight:100;
    color:#808080;
    margin:6px 18px;
}
.display-intro ul li a{
    font-size:14px;
    padding:1px 26px;
    color:#808080;
    text-decoration:none;
}
.display-intro ul li a:hover{
    color:#FF9E0E;
}
#display-thumbnail{
    background:#fff;
    position:absolute;
    width:67px;
    right:0;
    top:0;
}
#display-thumbnail ul{
    padding:0;
    margin:0;
}
#display-thumbnail ul li{
    height:67px;
}
#display-thumbnail ul li img{
    border:1px #fff ;
    border-style:solid hidden;
    height:100%;
    width:100%;
}
#display-thumbnail ul li a{
    opacity:0.6;
}
#display-thumbnail ul li a:hover{
    opacity:0.8;
}
#display-thumbnail ul li a:active{
    opacity:1;
}